parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
            - message: '#Call to an undefined method .*::get\(\)#'
              paths:
                  - tests/Controller/MessageControllerTest.php
